body {
    background-color: #FFF;
}

header {
    /*background-color: #daf3ff; */
    border-bottom: 1px solid;
}

header a{
    color: #000;
    text-decoration: none;
}

#h1 {
    text-align: center;
}

#main {
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    transition: margin-left .5s;
}

#product-div {
    border-color: black;
}
.thetable{
    width: 100%;
    table-layout: fixed;
}

.buttons-div {
    float: left;
}

.button {
    height: 55px;
    display: inline-block;
    transition: 0.5s;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.button:hover{
    background-color: #b3e7ff;
}

.button h3 {
    padding-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
}

.prod-table {
    background-color: #FFF;
    border: 1px solid;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

.prod-table tr {
    height: 145px;
}

.prod-table tr:nth-child(even) {
    background-color: #FFF;
}

.prod-images {
    max-height: 120px;
    max-width: 120px;
    border-radius: 10px;
}

.prod-name {
    font-weight: bold;
}

#dankifyButton{
     box-shadow: 0px 0px 10px 0px #000000;
     background-color: #ff1473;
     width: 7em;
     height: 4em;
     position: fixed;
     right: 1em;
     bottom: 1em;
    !important;
}

#nonefound{
}

#noitems{
}

.sidenav {
    height: 100%; /
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#close{
    text-decoration: none;
    color: black;
}

#buy{
    margin-right: 3em;
}

#footer{
}

#sidediv{
    transition: 0.5s;
    margin-left: 20%;
}

#cartWrapper{
    float:right;
    margin-left: -25%;
}

#bottomsidediv{
    position: fixed;
    left: 3.5em;
    bottom: 2em;
}